.footer {
  display: flex;
  flex-direction: row;
  position: fixed;
  margin-top: 612px;
  border-top: 2px solid gray;
}

.footer > div > svg {
  width: 5.75em;
  height: 2em;
}

.footer-item {
  width: 100%;
  padding: 15px 0 0 0;
  cursor: pointer;
}
.footer-selected {
  border-bottom: 5px solid darkgreen;
  border-radius: 20px;
}

.footer-selected > svg {
  color: #5ebec4;
}
